<% content_for(:title, "パスワードの変更") %>

<div class="container">
  <div class="row">
    <div class="col-lg-6 border mx-auto">
      <h3 class="mt-4">パスワードの変更</h3>
      <p>パスワードを忘れた方はリセットをします。<br>下記のメールアドレス宛に変更のご案内をお送りします。</p>
      <div class="d-flex mb-5 mt-5">
        <%= form_with url: password_resets_path, local: true, method: :post do |f| %>
          <div class="mb-5">
            <%= f.label :email, "ご登録のメールアドレス", class: "form-label" %>
            <% if logged_in? %>
              <div class="text-left">
                <%= current_user.email %>
              </div>
            <% else %>
              <%= f.email_field :email, class:"form-control" %>
            <% end %>
          </div>
          <div class="text-center"></div>
            <%= f.submit '送信', class: "btn btn-primary si-form-width" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>