<% vtuber.comments.reverse.each do |comment| %>
  <div class="mb-5 border-top", id="comment_<%= comment.id %>" >
    <p>
      <span class="text-secondary">
        <% if comment.created_at == comment.updated_at %>
          <%= "#{comment.user.name}　　#{l comment.updated_at}" %>
        <% else %>
          <%= "#{comment.user.name}　　#{l comment.updated_at}（編集済み）" %>
        <% end %>
      </span>
      
      <% if logged_in? && (comment.user.id == current_user.id) %>
        <%= link_to vtuber_comment_delete_path(vtuber, comment), method: :delete, remote: true, class: "text-decoration-none link-dark" do %>
        　　<i class="fa-solid fa-trash" style="color: #ff0000;"></i>
        <% end %>
        <%= link_to vtuber_comment_edit_path(vtuber, comment), remote: true, class: "text-decoration-none link-dark" do %>
        　<i class="fa-solid fa-pen" style="color: #000000;"></i>
        <% end %>
      <% end %>
    </p>
    <p><%= comment.body %></p>
  </div>
<% end %>