<div class="container">
  <div class="row">
    <div class="col-lg-6 border mx-auto">
      <div class="mb-5 mt-5">
        <div class="col-lg-12">
          <div>現在のメールアドレス</div>
        </div>
        <div class="d-flex">
          <div class="col-lg-8">
            <div class="text-left">
              <%= current_user.email %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="d-flex mb-5">
        <%= form_with model: @user, url: user_email_path, local: true do |f| %>
          <%= render 'shared/error_message', object: f.object %>
          <div class="mb-3">
            <%= f.label :email, "新しいメールアドレス", class: "form-label" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="text-center">
            <%= f.submit "保存", class: "btn btn-primary si-form-width" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>