<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center align-middle form-margin">
      <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_message', object: f.object %>
        <div class="mb-3">
          <%= f.label :email, "メールアドレス", class: "form-label" %>
          <%= f.email_field :email, class: "form-control si-form-width" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, "パスワード", class: "form-label" %>
          <%= f.password_field :password, class: "form-control " %>
        </div>
        <div class="mb-3">
          <%= f.label :name, "ユーザー名", class: "form-label" %>
          <%= f.text_field :name, class: "form-control " %>
        </div>
        <div class="text-center">
          <%= f.submit "ユーザー登録", class: "btn btn-primary si-form-width" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
