<% content_for(:title, "マイページ") %>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6 border mx-auto">
      <div class="mb-5 mt-5">
        <div class="col-lg-12">
          <div>メールアドレス</div>
        </div>
        <div class="d-flex">
          <div class="col-lg-8">
            <div class="text-left">
              <%= current_user.email %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center">
              <%= link_to "変更", user_email_path, class: "btn btn-info" %>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <div class="col-lg-12">
          <div>パスワード</div>
        </div>
        <div class="d-flex">
          <div class="col-lg-8">
            <div class="text-left">
              **********
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center">
              <%= link_to "変更", new_password_reset_path, class: "btn btn-info" %>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <div class="col-lg-12">
          <div>ユーザー名</div>
        </div>
        <div class="d-flex">
          <div class="col-lg-8">
            <div class="text-left">
              <%= current_user.name %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center">
              <%= link_to "変更", user_name_path, class: "btn btn-info" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5 mt-5">
    <div class="col-lg-6 border mx-auto">
      <p class="mt-3">いいねしたVtuber</p>
      <% if @vtuber.present? %>
        <div id="favorite-index">
          <%= render 'favorites/index', vtuber: @vtuber %>
        </div>
      <% else %>
        いません
      <% end %>
    </div>
  </div>
</div>