<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <%= link_to "にゅーぶい！", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="flex-column ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 h-form-width" type="search" placeholder="名前など" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">検索</button>
          </form>
          <ul class="navbar-nav pr-5">
            <li class="nav-item px-5">
              <a class="nav-link active" href="#">項目1</a>
            </li>
            <li class="nav-item px-5">
              <a class="nav-link active" href="#">項目2</a>
            </li>
            <li class="nav-item px-5">
              <a class="nav-link active" href="#">項目3</a>
            </li>
            <li class="nav-item px-5">
              <a class="nav-link active" href="#">項目4</a>
            </li>
            <li class="nav-item px-5">
              <a class="nav-link active" href="#">項目5</a>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <button type="button" class="m-button nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">設定</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= form_with url: root_path, local: true do |f| %>
                        
                        <div class="mb-3">
                          <%= f.label :name, "設定するVtuberの名前", class: "form-label" %>
                          <%= f.text_field :name, class: "form-control" %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                          <%= f.submit "設定する", class: "btn btn-primary" %>
                        </div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "通知", logout_path, class: "nav-link", method: :delete %>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", user_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", logout_path, class: "nav-link", method: :delete %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>