<div class="container ">
  <div class="row">
    <div class="d-flex justify-content-center align-middle form-margin mb-5">
      <%= form_with model: @vtuber, url: edit_path(@vtuber), local: true do |f| %>
        <%= render 'shared/error_message', object: f.object %>
        <div class="mb-5">
          <%= f.label :name, "Vtuberのお名前", class: "form-label" %>
          <%= f.text_field :name, class: "form-control " %>
        </div>
        <div class="mb-5">
          <%= f.label :name_x, "Xのユーザー名", class: "form-label" %>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <%= f.text_field :name_x, class: "form-control " %>
          </div>
        </div>
        <div class="mb-5">
          <%= f.label :gender, "性別", class: "form-label" %>
          <%= f.radio_button :gender, "男" %>男
          <%= f.radio_button :gender, "女" %>女
          <%= f.radio_button :gender, "その他" %>その他
        </div>
        <div class="mb-5">
          <%= f.label :debut_date, "デビュー日（初配信日）", class: "form-label" %>
          <%= f.date_field :debut_date, class: "form-control" %>
        </div>
<!--
        <div class="mb-5">
          <%= f.label :place, "配信サイト", class: "form-label" %>
          <div class="input-group">
            <%= f.collection_select(:place_ids, Place.all, :id, :name, {prompt: "選択"}, {class: "btn btn-outline-secondary"} ) %>
            <%= f.text_field :url, class: "form-control", placeholder: "選択した配信サイトのURL" %>
          </div>
        </div>
        <div class="mb-5">
          <%= f.label :content, "配信ジャンル（複数選択可能）", class: "form-label" %>
          <div>
          <%= f.collection_check_boxes(:content_ids, Content.all, :id, :name) %>
          </div>
        </div>
        <div class="mb-5">
          <%= f.label :like, "好きなこと", class: "form-label" %>
          <%= f.text_area :like, class: "form-control " %>
        </div>
        <div class="mb-5">
          <%= f.label :unlike, "嫌いなこと", class: "form-label" %>
          <%= f.text_area :unlike, class: "form-control " %>
        </div>
        <div class="mb-5">
          <%= f.label :fan_name, "ファンネーム", class: "form-label" %>
          <%= f.text_field :fan_name, class: "form-control " %>
        </div>
-->
        <div class="mb-5">
          <%= f.label :image, "アイコン画像", class: "form-label" %>
          <%= f.file_field :image, class: "form-control" %>
        </div>
        <div class="text-center mb-5">
          <%= f.submit "保存", class: "btn btn-primary si-form-width" %>
        </div>
      <% end %>
    </div>
  </div>
</div>