<% content_for(:title, @vtuber.name) %>

<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col-lg-10 border mx-auto">
      <div class="mb-5 mt-5 text-center">
        <%= image_tag @vtuber.image.url, class: "rounded-circle border border-dark", size: "300x300" %>

        <h1 class="mb-5 mt-3 text-center"><%= @vtuber.name %></h1>

        <div id="favorite_<%= @vtuber.id %>">
          <%= render 'favorites/favorite', vtuber: @vtuber %>
        </div>

        <div class="mb-5 mt-5 col-lg-7 mx-auto">
          <div class="d-flex">
            <div class="col-lg-6 text-left">
              デビュー日　　：
            </div>
            <div class="col-lg-4">
              <%= @vtuber.debut_date %>
            </div>
          </div>
        </div>

        <div class="mb-5 mt-5 col-lg-7 mx-auto">
          <div class="d-flex">
            <div class="col-lg-6 text-left">
              性別　　：
            </div>
            <div class="col-lg-4">
              <%= @vtuber.gender %>
            </div>
          </div>
        </div>
<!--
        <div class="mb-5 mt-5 col-lg-7 mx-auto">
          <div class="d-flex">
            <div class="col-lg-6 text-left">
              配信サイト　　：
            </div>
            <div class="col-lg-4">
              <% (@vtuber.places).each do |place| %>
                <% if place.name == "YouTube" %>
                  <%= link_to place.vtuber_places[0].url do %>
                    <i class="fa-brands fa-youtube fa-2xl" style="color: #ff0000;"></i>
                  <% end %>
                <% else %>
                  <%= place.name %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="mb-5 mt-5 col-lg-7 mx-auto">
          <div class="d-flex">
            <div class="col-lg-6 text-left">
              配信ジャンル　　：
            </div>
            <div class="col-lg-4">
              <% (@vtuber.contents).each_with_index do |content, index| %>
                <%= content.name %>
                <%= "、" if index < @vtuber.contents.size - 1 %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="mb-5 mt-5 col-lg-7 mx-auto">
          <div class="d-flex">
            <div class="col-lg-6 text-left">
              好きなこと　　：
            </div>
            <div class="col-lg-4">
              <%= @vtuber.like %>
            </div>
          </div>
        </div>

        <div class="mb-5 mt-5 col-lg-7 mx-auto">
          <div class="d-flex">
            <div class="col-lg-6 text-left">
              嫌いなこと　　：
            </div>
            <div class="col-lg-4">
              <%= @vtuber.unlike %>
            </div>
          </div>
        </div>

        <div class="mb-5 mt-5 col-lg-7 mx-auto">
          <div class="d-flex">
            <div class="col-lg-6 text-left">
              ファンネーム　　：
            </div>
            <div class="col-lg-4">
              <%= @vtuber.fan_name %>
            </div>
          </div>
        </div>
-->
      <% if @vtuber.name_x.present? %>
        <div class="mb-5 mt-5 col-lg-12 mx-auto">
          <a class="twitter-timeline twitter-timeline" data-lang="ja" data-height="700", data-width="500" href="https://twitter.com/<%= @vtuber.name_x %>?ref_src=twsrc%5Etfw">Tweets by <%= @vtuber.name_x %>></a> 
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      <% end %>
      
      </div>
    </div>
  </div>

  <div class="row mb-5 mt-5">
    <div class="col-lg-10 border mx-auto">
      <p class="mt-3", id="js-comment-count">コメント（<%= @vtuber.comments.count %>）</p>
      <% if current_user %>
        <%= form_with model: [@vtuber, @comment], url: vtuber_comment_path(@vtuber), method: :post, local: false, id: "js-comment-form" do |f| %>
          <%= render 'shared/error_message', object: f.object %>
          <div class="mb-3 mt-3">
            <%= f.text_area :body, class: "form-control", placeholder: "コメントを入力" %>
          </div>
          <div class="mb-5">
            <%= f.submit "投稿", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
      <div id="comments-index">
        <%= render 'comments/comments', vtuber: @vtuber %>
      </div>
    </div>
  </div>
</div>
