<!DOCTYPE html>
<html>
  <head>
    <title>NewVtuber</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/before_login_header' %>
    <!-- <%= render 'shared/after_login_header' %> -->
    <%= yield %>
    <%= render 'shared/before_login_footer' %>
    <!-- <%= render 'shared/after_login_footer' %> -->
  </body>
</html>
